@charset "utf-8";

@import url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo.css');

@import url('https://webfontworld.github.io/NanumMyeongjo/NanumMyeongjo.css');

@import url('https://fonts.googleapis.com/css2?family=Jua&family=Titan+One&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'NanumSquareNeo';
    font-size: 18px;
    line-height: 1.5;
    color: #2E2E2E;
    min-width: 1320px;
    background-color: #FFFBF3;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #fff;
}

		/* 탑 버튼 꾸미기 */
		.top {
			position: fixed;
			bottom: 50px;
			right: 50px;
			display: none;
            z-index: 200;
		}

/* 헤더 */
header {
    width: 100%;
    margin: 50px auto;
    position: absolute;
    text-align: center;
    top: 0;
    left: 0;
    z-index: 99;
}

.header_in {
    width: 1320px;
    margin: auto;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -moz-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.header_right {
    display: -ms-flexbox;
    display: -webkit-box;
    display: -moz-box;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

/* 검색창 꾸미기 */
.search_product {
    border-radius: 30px;
    height: 50px;
    width: 250px;
    box-sizing: border-box;
    padding-left: 40px;
    border: none;
    background: url(./images/sub1/serchicon.png) no-repeat 5% 50% #5e5e5eae;
    position: relative;
    z-index: 2;
    transition: 1s;
}

.search_product::placeholder {
    color: #fff;
}

.search_product:focus {
    outline: none;
}

.search_01:hover input {
    width: 350px;
}

.search_01 {
    position: relative;
}

.search_01>ul {
    width: 100%;
    padding: 80px 20px 30px;
    box-sizing: border-box;
    text-align: left;
    background-color: rgba(46, 46, 46, 0.663);
    border-radius: 30px;
    position: absolute;
    top: 0;
    display: none;
    transform-origin: right;
    overflow: hidden;
}

.search_01>ul>li {
    padding-top: 5px;
    width: 350px;
}

.search_01:hover>ul {
    display: block;
}

.hot {
    color: #fff;
    border-bottom: 1px solid #fff;
    padding-bottom: 10px;
    margin-bottom: 10px;
    font-weight: 800;
    font-size: 20px;
}



/* 네비1 꾸미기 */
.nav1 {
    display: -ms-flexbox;
    display: -webkit-box;
    display: -moz-box;
    display: flex;
}

.nav1>li>a {
    margin-left: 40px;
    font-size: 20px;
    font-weight: bold;
}

/* 네비2 꾸미기 */
.nav2 {
    position: absolute;
    top: 150px;
    left: 0;
    width: 100%;
}

.nav1 a:hover {
    color: #EE7741;
}

.nav2 a:hover {
    color: #EE7741;
}

.nav2_in {
    width: 1320px;
    margin: auto;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -moz-box;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

.nav2_in>li>a {
    margin-right: 50px;
    font-size: 20px;
    font-weight: bold;
    display: block;
    margin: 30px 60px;
}

.nav2>li>a:hover {
    color: rgba(76, 41, 23, 0.794);
}

/* 스크롤 고정 꾸미기 */
/* 스크롤을 내리면 scroll-menu에 scroll-fixed 클래스가 생겨남, scroll-fixed가 생길 때 꾸며주기 */
.scroll-fixed {
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: rgba(52, 27, 14, 0.838);
    transition: background-color 1s;
    z-index: 110;
}

.scroll-fixed a {
    color: #fff;
    transition: all 1s;
}

.sub a {
    display: block;
    padding: 20px 0;
    text-align: center;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
}

.sub {
    position: absolute;
    width: 100%;
    display: none;
    z-index: 99;
}

.nav2_in>li {
    position: relative;
}

.nav2:hover .sub,
.nav2:hover .sub_bg {
    display: block;
}

.nav2_in>.sub_bg {
    width: 100%;
    height: 280px;
    background-color: rgba(76, 41, 23, 0.794);
    position: absolute;
    left: 0;
    top: 90px;
    display: none;
}

/* 메인배너 */
.mainbanner {
    background: url(./images/sub1/mainimg.png) no-repeat center top;
    height: 900px;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -moz-box;
    display: flex;
    background-size: cover;
}

.mainbanner_text {
    width: 1320px;
    display: block;
    color: #fff;
    text-align: center;
    margin: auto;
    background: #00000053;
    padding: 50px 20px;
}

.mainbanner_text>h1 {
    font-family: "Playfair Display";
    font-size: 70px;
}

/* 브랜드 소개 */
.bs {
    margin-top: 200px;
    overflow: hidden;
}

.box1_text {
    text-align: center;
    margin-bottom: 150px;
}

.box1_text {
    text-align: center;
}

h3 {
    color: #4C2917;
    font-size: 50px;
    line-height: 1.3;
    font-weight: 800;
    margin-bottom: 20px;
}

/* 브랜드 소개1 */
.box2 {
    display: -ms-flexbox;
    display: -webkit-box;
    display: -moz-box;
    display: flex;
    justify-content: space-between;
    text-align: left;
    width: 1320px;
    margin: auto;
}

.box2_text {
    padding-top: 50px;
    padding-left: 30px;
    box-sizing: border-box;
}

/* 브랜드소개2 */
.box3 {
    display: -ms-flexbox;
    display: -webkit-box;
    display: -moz-box;
    display: flex;
    justify-content: space-between;
    text-align: left;
    width: 1320px;
    margin: auto;
}

.box3_text {
    padding-right: 50px;
    padding-top: 170px;
    box-sizing: border-box;
}

/* 브랜드 이미지소개3 */
.box4 {
    display: -ms-flexbox;
    display: -webkit-box;
    display: -moz-box;
    display: flex;
    justify-content: space-between;
    text-align: left;
    width: 1320px;
    margin: auto;
    margin-bottom: 100px;
}

.box4_text {
    padding-left: 50px;
    padding-top: 170px;
    box-sizing: border-box;
}

/* 미들배너 꾸미기 */
.middlebanner {
    background: url(./images/sub1/middlebanner.png) no-repeat center top;
    height: 850px;
    background-size: cover;
}

.middlebanner_in {
    padding-top: 10px;
    width: 1320px;
    margin: auto;
}

.dv {
    display: -ms-flexbox;
    display: -webkit-box;
    display: -moz-box;
    display: flex;
    justify-content: space-between;
}

.dv>li {
    background-color: #3e3e3e7c;
    text-align: center;
    padding: 50px 0;
    width: 360px;
}

.middlebanner_in>h4 {
    color: #fff;
    font-size: 50px;
    font-weight: 900;
    margin-bottom: 1px;
}

.middlebanner_in>p {
    color: #fff;
    padding-top: 10px;
    padding-bottom: 60px;
}

h5 {
    font-family: "Playfair Display";
    font-size: 35px;
    line-height: 1.2;
    padding-bottom: 30px;
}

.dv li img {
    display: block;
    margin: auto;
}

.dv li:hover {
    background-color: #3e3e3ea1;
    transform: translate(10px, 10px);
    box-shadow: 10px 10px 0 rgba(206, 206, 206, 0.653);
}

.dv li {
    transition: all 1s;
}


/* 브랜드 소개 / 캐릭터 소개 */
.last {
    background-color: #CCC3B2;
    padding-top: 150px;
}

/* 탭메뉴 꾸미기 */
.tab {
    width: 1320px;
    margin: auto;
    overflow: hidden;
}

.tabnav {
    width: 100%;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    justify-content: center;
}

.tabnav li a {
    font-weight: 800;
    display: block;
    padding: 15px 30px;
    margin-left: 30px;
    background: #4C2917;
    position: relative;
    z-index: 2;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
}

.tabnav li a:hover {
    background: #BC966B;
    color: #fff;
}

/* 탭컨테츠 꾸미기 */
.tabcontent {
    padding: 20px;
    height: auto;
    position: relative;
    top: -1px;
}

/* 브랜드 소개*/

h4 {
    color: #4C2917;
    font-weight: 900;
    font-size: 50px;
    margin: 100px 0 10px;
}

.bi {
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    justify-content: space-between;
    margin-bottom: 150px;
    margin-top: 20px;
}

/* 컬러시스템 */
.colorsystem_img {
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    margin-top: 10px;
    margin-bottom: 100px;
}
.colorsystem_img li{
    flex: 1;
    width: 264px;
    height: 441px;
    background: url(./images/sub1/maincolor.png) no-repeat bottom left;
    background-size: 100%;
    transition: all 1s;
    position: relative;
}
.colorsystem_img li p{
    position: absolute;
      top: 30px;
      left: 30px;
      transition: all 1s;
      color: #fff;

}
.colorsystem_img li:hover{
    flex: 1.5;
}
.colorsystem_img li:nth-child(1) {
    background-color: #4C2917;
}
.colorsystem_img li:nth-child(2) {
    background-color: #43584A;
}
.colorsystem_img li:nth-child(3) {
    background-color: #EE7741;
}
.colorsystem_img li:nth-child(4){
    background-color: #BC966B;
}
.colorsystem_img li:nth-child(5){
    background-color: #2E2E2E;
}

/* 1번탭 푸터 */
/* 푸터 */
footer{
    background-color: #2E2E2E;
    padding: 80px 0 ;
}
.footer_in p{
    color: #c5c5c5;
    width: 100%;
}
.footer_in{
    width: 1200px;
    margin: auto;
    display: -moz-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.f1{
    display: -moz-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.f1 li{
    margin-right: 30px;
}

.lineh{
    margin-top: 30px;
}
.f2{
    margin-left: 100px;
    line-height: 1.6;
}
.f2 li{
    margin-bottom: 5px;
    font-weight: bolder;
}
.youtube{
    margin-right: 15px;
}

.ab{
    font-size: 21px;
    margin-bottom: 10px;
}
.footer1 li a:hover{
    color: #c5c5c5;
    font-weight: bolder;
    border-bottom: 1px solid #c5c5c5;
}
.footer2 li a:hover{
    color: #c5c5c5;
    border-bottom: 1px solid #c5c5c5;
}
.sns{
    display: -moz-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.sns a{
    display: block;
    opacity: 1;
}
.sns a:hover{
    opacity: 0.5;
}

    







/* 캐릭터 소개 */
.titlech1{
    position: absolute;
    top: 50px;
    left: 320px;
}
.titlech2{
    position: absolute;
    top: 50px;
    right: 360px;
}
.cintro> h2{
    font-family: "Jua", sans-serif;
    font-size: 100px;
    color: #4C2917;
    line-height: 1.3;
    margin-bottom: 40px;
    position: relative;
}
.cintro {
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.character {
    margin: 200px auto;
    width: 1320px;
}

/* 튜 소개 */

.tew {
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    justify-content: space-between;
}

.tew_text {
    padding-right: 50px;
    padding-top: 200px;
}

.tew_text>p {
    padding-top: 20px;
}

.tew_color {
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    width: 500px;
}

.tew_color>li {
    padding-right: 30px;
    padding-top: 10px;
}

.tew_color img {
    vertical-align: middle;
    padding-right: 10px;
}


/* 튜 이모션 */
.tewimo{
    margin: 50px 0; 
    background-color: #EBE6DB;
    border-radius: 90px;
    width: 1300px;
}
.tewimo_in{
    padding: 50px 100px 0px 100px;
}
.tewimo_in> h6{
    font-size: 30px;
}
.tewimo ul{
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    justify-content: space-between;
    padding: 0 100px 0 80px;
}
.tewimo_in ul> li h5{
    text-align: center;
    font-size: 20px;
    padding-top: 10px;
}

/* 페티 이모션 */
.pettyimo{
    margin: 50px 0; 
    background-color: #EBE6DB;
    border-radius: 90px;
    width: 1300px;
}
.pettyimo_in{
    padding: 50px 100px 0px 100px;
}
.pettyimo_in> h6{
    font-size: 30px;
}
.pettyimo ul{
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    justify-content: space-between;
    padding: 10px 120px 0 100px;
}
.pettyimo_in ul> li h5{
    text-align: center;
    font-size: 20px;
    padding-top: 10px;
}


/* 페티 소개 */

.petty {
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    justify-content: space-between;
    margin-top: 150px;
}

h6 {
    font-size: 55px;
    color: #4C2917;
    font-weight: 900;
    line-height: 1.3;
    padding-bottom: 10px;
}

h7 {
    font-size: 30px;
    font-weight: 800;
}

.petty_text {
    padding-top: 250px;
    padding-left: 80px;
}

.petty_color {
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    width: 500px;
}

.petty_color>li {
    padding-right: 30px;
    padding-top: 10px;
}

.petty_color img {
    vertical-align: middle;
    padding-right: 10px;
}

.petty_img {
    padding-right: 150px;
}

.petty_text>p {
    padding-top: 20px;
}

/* 아버 에코 컬렉션 */
.Eldnrl{
    margin-bottom: 15px;
    font-size: 25px;
    font-weight: 700;
}
.abeco{
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    margin: auto;
    margin-bottom: 150px;
}

.products> li{
    border-bottom: 1px solid gray;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    padding: 15px 0;
    margin-left: 30px;
    justify-content: space-between;
    align-items: flex-end;
}

.products li:nth-child(4){
    border-bottom: none;
}

.line{
    color: #4C2917;
    font-weight: 600;
}
.name{
    font-weight: 700;
}
.price{
    color: #4C2917;
    font-weight: 900;
    margin-top: 30px;
}
.eco_text{
    width: 320px;
    margin-left: 30px;
}


.products li:hover .pro_box img{
    transform: scale(1.2);
}

.pro_box{
    overflow: hidden;
}


.pro_box> img{
    display: block;
    transition: all 1s;
}

.products> li> a:hover{
    opacity: 0.5;
}