@charset "utf-8";

@import url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo.css');

@import url('https://webfontworld.github.io/NanumMyeongjo/NanumMyeongjo.css');


* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'NanumSquareNeo';
    font-size: 18px;
    line-height: 1.5;
    color: #2E2E2E;
    min-width: 1320px;
    background-color: #FFFBF3;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #fff;
}

h2 {
    font-size: 40px;
    color: #4C2917;
    font-weight: 900;
    margin-bottom: 15px;
}

/* 탑 버튼 꾸미기 */
.top {
    position: fixed;
    bottom: 50px;
    right: 50px;
    display: none;
    z-index: 200;
}

/* 헤더 */
header {
    width: 100%;
    margin: 50px auto;
    position: absolute;
    text-align: center;
    top: 0;
    left: 0;
    z-index: 99;
}

.header_in {
    width: 1320px;
    margin: auto;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -moz-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.header_right {
    display: -ms-flexbox;
    display: -webkit-box;
    display: -moz-box;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

/* 검색창 꾸미기 */
.search_product {
    border-radius: 30px;
    height: 50px;
    width: 250px;
    box-sizing: border-box;
    padding-left: 40px;
    border: none;
    background: url(./images/sub1/serchicon.png) no-repeat 5% 50% #5e5e5eae;
    position: relative;
    z-index: 2;
    transition: 1s;
}

.search_product::placeholder {
    color: #fff;
}

.search_product:focus {
    outline: none;
}

.search_01:hover input {
    width: 350px;
}

.search_01 {
    position: relative;
}

.search_01>ul {
    width: 100%;
    padding: 80px 20px 30px;
    box-sizing: border-box;
    text-align: left;
    background-color: rgba(46, 46, 46, 0.663);
    border-radius: 30px;
    position: absolute;
    top: 0;
    display: none;
    transform-origin: right;
    overflow: hidden;
}

.search_01>ul>li {
    padding-top: 5px;
    width: 350px;
}

.search_01:hover>ul {
    display: block;
}

.hot {
    color: #fff;
    border-bottom: 1px solid #fff;
    padding-bottom: 10px;
    margin-bottom: 10px;
    font-weight: 800;
    font-size: 20px;
}



/* 네비1 꾸미기 */
.nav1 {
    display: -ms-flexbox;
    display: -webkit-box;
    display: -moz-box;
    display: flex;
}

.nav1>li>a {
    margin-left: 40px;
    font-size: 20px;
    font-weight: bold;
}

/* 네비2 꾸미기 */
.nav2 {
    position: absolute;
    top: 150px;
    left: 0;
    width: 100%;
}

.nav1 a:hover {
    color: #EE7741;
}

.nav2 a:hover {
    color: #EE7741;
}

.nav2_in {
    width: 1320px;
    margin: auto;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -moz-box;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

.nav2_in>li>a {
    margin-right: 50px;
    font-size: 20px;
    font-weight: bold;
    display: block;
    margin: 30px 60px;
}

.nav2>li>a:hover {
    color: rgba(76, 41, 23, 0.794);
}

/* 스크롤 고정 꾸미기 */
/* 스크롤을 내리면 scroll-menu에 scroll-fixed 클래스가 생겨남, scroll-fixed가 생길 때 꾸며주기 */
.scroll-fixed {
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: rgba(52, 27, 14, 0.838);
    transition: background-color 1s;
    z-index: 110;
}

.scroll-fixed a {
    color: #fff;
    transition: all 1s;
}

.sub a {
    display: block;
    padding: 20px 0;
    text-align: center;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
}

.sub {
    position: absolute;
    width: 100%;
    display: none;
    z-index: 99;
}

.nav2_in>li {
    position: relative;
}

.nav2:hover .sub,
.nav2:hover .sub_bg {
    display: block;
}

.nav2_in>.sub_bg {
    width: 100%;
    height: 280px;
    background-color: rgba(76, 41, 23, 0.794);
    position: absolute;
    left: 0;
    top: 90px;
    display: none;
}

/* 메인배너 */
.mainbanner {
    background: url(./images/sub3/mainbanner.png) center top no-repeat;
    height: 900px;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -moz-box;
    display: flex;
}

.mainbanner_text {
    width: 1320px;
    display: block;
    color: #fff;
    text-align: center;
    margin: auto;
    background: #00000053;
    padding: 50px 20px;
}

.mainbanner_text>h1 {
    font-family: "Playfair Display";
    font-size: 70px;
}

.mainbanner {
    margin-bottom: 150px;
}

h3 {
    color: #4C2917;
    font-size: 50px;
    line-height: 1.3;
    font-weight: 800;
    margin-bottom: 20px;
}

/* 자세히 보기 박스1 */
/* 브랜드 소개1 */
.box2_wrap{
    overflow:hidden;
   }

.box2 {
    display: -ms-flexbox;
    display: -webkit-box;
    display: -moz-box;
    display: flex;
    justify-content: space-between;
    text-align: left;
    width: 1320px;
    margin: auto;
}

.box2_text {
    padding-top: 200px;
    padding-right: 100px;
    box-sizing: border-box;
}

.btn_w {
    margin-top: 30px;
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    color: #333;
    text-decoration: none;
    padding: 10px 20px;
    border: 3px solid #333;
    border-radius: 50px;
    box-shadow: 5px 5px 0 #9f9f9f;
    transition: all 1s;
}

.btn_w:hover {
    transform: translate(5px, 5px);
    box-shadow: 0px 0px 0 #9f9f9f;
}

/* 브랜드소개2 */
.box3 {
    display: -ms-flexbox;
    display: -webkit-box;
    display: -moz-box;
    display: flex;
    justify-content: space-between;
    text-align: left;
    width: 1320px;
    margin: auto;
}

.box3_text {
    padding-top: 200px;
    box-sizing: border-box;
}

/* 예약 배너 */
.reservation {
    background: url(./images/sub3/senior-couple-camping.png) no-repeat center center;
    height: 730px;
    background-size: cover;
    text-align: left;
    color: #fff;
    margin: 150px 0;
    overflow: hidden;
}

.reservation_in {
    width: 1320px;
    margin: auto;
    position: relative;
}

.reservation_in div {
    background: #333333be 50% 50%;
    width: 960px;
    height: 730px;
    position: absolute;
    right: -300px;
    box-sizing: border-box;
    padding-left: 5%;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -moz-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h4 {
    font-size: 50px;
    margin-bottom: 20px;
}

.btn_ww {
    text-align: center;
    width: 80px;
    margin-top: 30px;
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border: 3px solid #fff;
    border-radius: 50px;
    box-shadow: 5px 5px 0 #9f9f9f;
    transition: all 1s;
}

.btn_ww:hover {
    transform: translate(5px, 5px);
    box-shadow: 0px 0px 0 #9f9f9f;
}





/* 주변 여행지 슬라이드  꾸미기*/
.travel {
    text-align: center;
}

/* 갤러리 센터 꾸미기 */
.gallery-center {
    width: 1320px;
    height: 100%;
    margin: 50px auto;
    padding: 0 50px 40px;
    box-sizing: border-box;
    position: relative;
}

.gallery-center_inner {
    width: 100%;
    overflow: hidden;
}

.gallery-center .swiper-slide a {
    width: 100%;
    height: 100%;
}

.gallery-center .swiper-slide img {
    display: block;
    width: 100%;
}

/*이동버튼 영역 색상 바꾸기*/
.gallery-center .swiper-button-prev,
.gallery-center .swiper-button-next {
    color: #4C2917;
}

/*이동버튼 영역 호버 시 색상 바꾸기*/
.gallery-center .swiper-button-prev:hover,
.gallery-center .swiper-button-next:hover {
    color: #EE7741;
}

/* 이동버튼 이미지로 바꾸기
.gallery-center .swiper-button-prev,
.gallery-center .swiper-button-next{
    width: 50px;
    height: 50px;
}
.gallery-center .swiper-button-prev:after,
.gallery-center .swiper-button-next:after{
    content: '';
    display: block;
    width: 50px;
    height: 50px;
}
.gallery-center .swiper-button-prev:after{
    background: url(../images/prev.png);
}
.gallery-center .swiper-button-next:after{
    background: url(../images/next.png);
}
*/

/* 블릿버튼 크기, 색상, 투명도 */
.gallery-center .swiper-pagination-bullet {
    background: #4C2917;
    width: 10px;
    height: 10px;
    opacity: 0.5;
}

/* 블릿버튼 페이지 표시날 때 투명도 */
.gallery-center .swiper-pagination-bullet-active {
    opacity: 1;
}

/* 블릿버튼 위치 */
.gallery-center .swiper-horizontal>.swiper-pagination-bullets,
.gallery-center .swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: 0px;
}

/* 호버시 트래블 글자 올라오게 하는  */

.swiper-slide {
    position: relative;
    overflow: hidden;
}

.text {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    text-align: center;
    align-items: center;
    color: #fff;
    opacity: 0;
    /*투명도 0 - 안보이게 만들기*/
    transition: all 2s;
    border-radius: 30px;
}

.text h5 {
    font-size: 20px;
    padding-top: 40%;
}

.swiper-slide img {
    display: block;
}

.swiper-slide:hover .text {
    opacity: 1;
    bottom: 0;
}


/* 캠프필드 소개 비디오 */
.camf_video {
    margin-top: 150px;
    margin-bottom: 150px;
}
.campfieldvideo{
    margin: auto;
    width: 100%;
}


/* 리뷰 슬라이드 */
.review_box {
    margin: auto;
    text-align: center;
    margin-bottom: 150px;
}

/* 흘러가는 슬라이드 꾸미기 */
.flowslide {
    width: 80%;
    max-width: 1620px;
    margin: 50px auto;
    padding: 0 50px 40px;
    box-sizing: border-box;
    position: relative;
}

.flowslide_inner {
    width: 100%;
    overflow: hidden;
}

.flowslide .swiper-wrapper {
    transition-timing-function: linear;
}

.flowslide .swiper-slide a {
    width: 100%;
    height: 100%;
}

.flowslide .swiper-slide img {
    display: block;
    width: 100%;
}

/* 리뷰 슬라이드 글 */
.swiper-slide {
    position: relative;
}

.r_text {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    align-items: center;
    color: #2E2E2E;
}

.r_text h5 {
    font-size: 18px;
    padding-top: 45%;
    padding-bottom: 2%;
}

.r_text p {
    font-size: 13px;
}

.swiper-slide img {
    display: block;
}

.swiper-slide .r_text {
    opacity: 1;
    bottom: 0;
}

/* 위치 */
.location {
    margin: auto;
    width: 65%;
    max-width: 1620px;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -moz-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.location_left{
    width: 49%;
}

.location_left iframe{
    display: block;
    width: 100%;
}
.location_text{
    width: 49%;
}

/* 로케이션 글 꾸미기 */



.list1 {
    background: url(./images/sub3/locationicon.png) no-repeat 6% center;
    border-bottom: 2px solid #2E2E2E;
    padding: 6% 0 6% 0;
    padding-left: 100px;
    line-height: 1.6;
}

.list2 {
    background: url(./images/sub3/clockicon.png) no-repeat 5% center;
    border-bottom: 2px solid #2E2E2E;
    padding: 6% 0 6% 0;
    padding-left: 100px;
    line-height: 1.6;
}

.list3 {
    background: url(./images/sub3/telephoneicon.png) no-repeat 5% center;
    padding: 6% 0 6% 0;
    padding-left: 100px;
    line-height: 1.6;

}

h6 {
    color: #4C2917;
    font-size: 20px;
}

.location_text li p {
    color: #2E2E2E;
    font-size: 16px;
}

/* 푸터 위에 나무 슬라이드 */
.forest {
    margin: auto;
    width: 100%;
    max-width: 1920px;
    overflow: hidden;
    padding-top: 50px;
}

.wood1 {
    margin: 0 auto;
    display: block;
    position: relative;
    z-index: 2;
}

.wood2 {
    margin: -600px auto 0;
    display: block;
    position: relative;
    z-index: 1;
}

.wood3 {
    margin: -600px auto 0;
    display: block;
   
}




/* 푸터 */
footer {
    background-color: #2E2E2E;
    padding: 80px 0;
}

.footer_in p {
    color: #c5c5c5;
    width: 100%;
}

.footer_in {
    width: 1200px;
    margin: auto;
    display: -moz-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.f1 {
    display: -moz-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.f1 li {
    margin-right: 30px;
}

.lineh {
    margin-top: 30px;
}

.f2 {
    margin-left: 100px;
    line-height: 1.6;
}

.f2 li {
    margin-bottom: 5px;
    font-weight: bolder;
}

.youtube {
    margin-right: 15px;
}

.ab {
    font-size: 21px;
    margin-bottom: 10px;
}

.footer1 li a:hover {
    color: #c5c5c5;
    font-weight: bolder;
    border-bottom: 1px solid #c5c5c5;
}

.footer2 li a:hover {
    color: #c5c5c5;
    border-bottom: 1px solid #c5c5c5;
}

.sns {
    display: -moz-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.sns a {
    display: block;
    opacity: 1;
}

.sns a:hover {
    opacity: 0.5;
}